/** @format */

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.text__box__style {
  width: 50%;
  padding: 10px;
}

.result__box__style {
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 1.5%;
  max-height: 300px;
  overflow-y: auto;
}

.item__style {
  display: block;
  padding: 5px;
}
.item__style:hover {
  background-color: #747070;
  cursor: pointer;
}
